tr.header{
    background-color: #427fef;
    color:white;
    border-collapse: collapse;
}

.text:nth-child(even){
background-color: lightcoral;
}

/*I spent about half an hour on this. Creating the table was fairly simple, but coloring specific parts using selectors took longer.